<div>
  <h2>Sélection chancelier</h2>
  <%= simple_form_for [@game, @player] do |f|%>
    <%= f.select :usernames %>
    <%= f.input :chancelier %>
    <%= f.submit "Désigner comme chancelier" %>
  <% end %>
</div>
